@font-face {
  font-family: 'SF Pro Display Medium';
  src: url('../css/fonts/SFProDisplay-Medium.eot');
  src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
  url('../css/fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/SFProDisplay-Medium.woff2') format('woff2'),
  url('../css/fonts/SFProDisplay-Medium.woff') format('woff'),
  url('../css/fonts/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Heavy';
  src: url('../css/fonts/SFProDisplay-Heavy.eot');
  src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
  url('../css/fonts/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/SFProDisplay-Heavy.woff2') format('woff2'),
  url('../css/fonts/SFProDisplay-Heavy.woff') format('woff'),
  url('../css/fonts/SFProDisplay-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Light';
  src: url('../css/fonts/SFProDisplay-Light.eot');
  src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
  url('../css/fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/SFProDisplay-Light.woff2') format('woff2'),
  url('../css/fonts/SFProDisplay-Light.woff') format('woff'),
  url('../css/fonts/SFProDisplay-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('../css/fonts/SFProDisplay-Bold.eot');
  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
  url('../css/fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/SFProDisplay-Bold.woff2') format('woff2'),
  url('../css/fonts/SFProDisplay-Bold.woff') format('woff'),
  url('../css/fonts/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Black';
  src: url('../css/fonts/SFProDisplay-Black.eot');
  src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
  url('../css/fonts/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/SFProDisplay-Black.woff2') format('woff2'),
  url('../css/fonts/SFProDisplay-Black.woff') format('woff'),
  url('../css/fonts/SFProDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display SemiBold';
  src: url('../css/fonts/SFProDisplay-Semibold.eot');
  src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
  url('../css/fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/SFProDisplay-Semibold.woff2') format('woff2'),
  url('../css/fonts/SFProDisplay-Semibold.woff') format('woff'),
  url('../css/fonts/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url('../css/fonts/SFProDisplay-Regular.eot');
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
  url('../css/fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/SFProDisplay-Regular.woff2') format('woff2'),
  url('../css/fonts/SFProDisplay-Regular.woff') format('woff'),
  url('../css/fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
